<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kandao.smartqrcode">

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/icon_qrcode"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/icon_qrcode"
      android:supportsRtl="true"
      android:theme="@style/CaptureTheme">
    <activity
        android:name=".ui.activity.MainActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activity.ScanResultActivity"
        android:screenOrientation="portrait" />
  </application>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>